.contacts {
  width: 100%;
}

.contacts__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  height: 781px;
  margin: 0 auto;
  border: 2px solid var(--color-black);
  border-right-color: var(--color-black);
  border-top: none;
  padding: 163px 43.5px 0 43.5px;
}

.contacts__img {
  width: 400px;
  height: 600px;
  margin-left: 10px;
}

.contacts__content {
  padding: 8px 0 0 10px;
  width: 585px;
}

.contacts__title {
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 0 14px;
  margin-bottom: 6px;
  position: relative;
}

.contacts__title::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  left: 3px;
  top: -9px;
  background-color: var(--color-orange);
  border-radius: 50%;
  z-index: -1;
}

.contacts__subtitle {
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 22px;
  position: relative;
}

.contacts__subtitle:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 0px;
  top: 61px;
  background-color: var(--color-orange);
  z-index: -1;
}

.contacts__desc {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 19px;
}

.contacts__social {
  justify-content: start;
  margin-bottom: 23px
}

.social__link:not(:last-child) {
  margin-right: 23px;
}

.social__link:not(:first-child) {
  transform: rotate(-90deg);
  ;
}

.social__link-instagram,
.social__link-github {
  transform: rotate(90deg);
}

.contacts__section-desc {
  margin-bottom: 32px;
}

.contacts__form {
  max-width: 585px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.form__field {
  position: relative;

}

.form__field:first-child {
  margin-right: 15px;
}

.form__field {
  margin-bottom: 28px;
}

.form__field:last-child {
  margin-bottom: 26px;
}

.form__input.element-animation {
  position: relative;
  width: 280px;
  height: 45px;
  border: none;
  border: 1px solid yellow;
  outline: none;
  padding-left: 19px;
  font-size: 12px;
  text-align: left;
}
.form__input.element-animation.element-show  {
  border: 1px solid var(--color-black);
  transition: all 2.5s;
}

.form__label {
  position: absolute;
  width: 75px;
  top: -9px;
  left: 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  background-color: var(--color-white);
  text-align: center;
  z-index: 3;
}

.form__label-textarea {
  width: 116px;
}


.contacts__textarea {
  padding: 10px;
  width: 584px;
  height: 190px;
}

.contacts__button {
  width: 219px;
}

.red {
  border-color: var(--color-red);
}

.red-label {
  color: var(--color-red);
  width: 186px;
}

.field__checkbox {
  display: none;
}
.contacts__social > .social__item > .social__link :hover{
  color: var(--color-orange);
}
.contacts__textarea{
  border: 1px solid yellow;
}

.contacts__textarea.element-animation.element-show  {
  border: 1px solid var(--color-black);
  transition: all 2.5s;
}