@media (max-width: 1300px) {
  .hero__content {
    max-width: 800px;
  }

  .hero__desc {
    font-size: 26px;
    line-height: 39px;
    width: 300px;
    margin-bottom: 32px;
    letter-spacing: 1.3px;
  }

  .benefit {
    height: 1039px;
  }

  .benefit__content {
    max-width: 800px;
    height: 1039px;
  }

  .benefit__grid {
    flex-direction: column;
  }

  .experience {
    padding: 0;
  }

  .experience::before {
    left: -44px;
  }

  .contacts__container {
    flex-direction: column;
    align-items: center;
  }

  .contacts__wrapper {
    max-width: 800px;
    height: 1439px;
  }
}

@media (max-width: 956px) {

  .hero__content {
    max-width: 400px;
    border: none;
  }

  .benefit__content {
    border: none;

  }

  .education {
    margin-right: 0;
  }

  .contacts__wrapper {
    border: none;
    height: 1000px;
  }

  .contacts__content {
    width: 400px;
  }

  .contacts__form {
    flex-direction: column;
  }

  .form__field {
    display: block;
    width: 300px;
    margin-right: 0;
  }

  .contacts__textarea {
    width: 300px;
  }

  .contacts__button {
    display: block;
  }

  .field__checkbox {

    display: block;
    width: 180px;
    height: 36px;
  }

  .form__label.form__label-checkbox {
    width: 193px;
    left: 75px;

  }

  .form__label>span {
    color: blue;
  }

  .contacts__checkbox {
    margin-left: 57px;
  }
}

@media (max-width: 560px) {
  .hero {
    height: 640px;
    background-image: url("../jpg_png/Background320.png");
    background-size: cover;
  }

  .hero__container {
    height: 640px;
  }

  .hero__content {
    max-width: 300px;
  }

  .hero__social {
    display: none;
  }

  .benefit__content {
    border: 0;
  }

  .benefit__container {
    height: 1039px;
  }

  .benefit__title {
    margin-bottom: 25px;
  }

  .education,
  .experience {
    width: 292px;
  }

  .education__title,
  .experience__title {
    width: 178px;
    text-align: end;
  }

  .experience__title {
    margin-bottom: 52px;
  }

  .education__title::before,
  .experience__title::before {
    left: -6px;
  }

  .benefit__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 55px;
  }

  .item__text {
    font-size: 14px;
    line-height: 21px;
    margin-left: 30px;
  }

  .item__subtitle {
    width: 194px;
    font-size: 12px;
    line-height: 18px;
  }

  .item__subtitle>span {
    display: inline-block;
    width: 194px;
  }

  .item__icon {
    margin-left: 44px;
    margin-bottom: 19px;
    margin-right: 0;
  }

  .item__description {
    width: 250px;
    margin-left: 35px;
  }

  .education__list {
    margin-bottom: 35px;
  }

  .education::before,
  .experience::before {
    height: 398px;
    left: 1px;
  }

  .education__item,
  .experience__item {
    width: 292px;
    margin-bottom: 16px;
  }

  .experience__item {
    margin-bottom: 14px;
  }

  .contacts__wrapper {
    border: 0;
  }

  .contacts__title {
    margin-bottom: 23px;
  }

  .contacts__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 38px;
  }

  .contacts__subtitle:after {
    left: 3px;
    top: 50px;

  }

  .contacts__img {
    display: none;
  }

  .contacts__content,
  .form__input {
    width: 300px;

  }

  .contacts__content {
    padding-left: 0;
  }

  .contacts__textarea {
    padding-top: 10px;
    padding-left: 10px;
    height: 142px;
  }

  .menu {
    overflow: auto;
    height: 500px;
  }

  .contacts__button {
    margin-left: 41px;
  }
}