@media (max-width: 1300px) {
  .header__content {
    max-width: 800px;
  }

  .header__content-desc {
    font-size: 26px;
    line-height: 39px;
    width: 300px;
    margin-bottom: 32px;
    letter-spacing: 1.3px;
  }
}
@media (max-width: 956px){

  .header__content {
    max-width: 400px;
        border: none;
  }
}
@media (max-width: 560px){
  .header{
    height: 640px;
    background-image: url("../test/Background320.png");
    background-size: cover;
      }
  .header__container{
    height: 640px;
  }
  .header__content {
    max-width: 300px;
  }
  .header__social{
    display: none;
  }
}