.menu__burger {
  position: fixed;
  top: 21px;
  right: 28px;
  width: 36px;
  height: 21px;
  z-index: 2;
}

.menu__burger:hover {
  cursor: pointer;
}

.menu__burger-icon {
  position: relative;
  display: block;
  top: 10px;
  width: 36px;
  height: 3px;
  background-color: var(--color-light-dark);
}

.menu__burger-icon::after {
  content: "";
  bottom: 10px;
  right: 0;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--color-light-dark);
}

.menu__burger-icon::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 3px;
  background-color: var(--color-light-dark);
}

.menu {
  position: fixed;
  top: 0;
  left: -1300px;
  width: 345px;
  height: 800px;
  color: var(--color-white);
  background-color: var(--color-orange);
  transition: 0.5s;
  z-index: 4;
  visibility: hidden;
  overflow: auto;
}

.menu.active__menu {
  left: 0px;
  visibility: visible;
}

.menu__cross {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
}

.menu__cross:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu__cross:before,
.menu__cross:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: var(--color-black);
}

.menu__cross:before {
  transform: rotate(45deg);
}

.menu__cross:after {
  transform: rotate(-45deg);
}

.menu__list {
  margin: 150px 0 150px 20px;
  max-width: 216px;
}

.menu__item {
  font-size: 24px;
  line-height: 36px;
}


.menu__item:not(:last-child) {
  margin-bottom: 15px;
}

.menu__item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  margin-right: 15px;
}

.menu__item:hover:before {
  background-color: rgb(242, 235, 235);
}

.menu__item:hover {
  color: black;
}

.menu__overlay {
  content: "";
  position: fixed;
  background: var(--color-white);
  right: -2900px;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
  visibility: hidden;
  transition: 0.5s;
}

.menu__overlay.active__menu {
  right: 0px;
  visibility: visible;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  color: var(--color-black);
}

.social__link:hover {
  color: var(--color-white);
  transform: scale(1.3);
}

.social__link-img {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}

.social__link-facebook {
  transform: rotate(0deg);
}

.social__link-github {
  transform: rotate(-90deg);
}

.lock {
  overflow: hidden;
}